.primary {
  background: linear-gradient(20deg, #318ff5, #318ff5);
  padding: 9px 18px 8px;
  color: #fff;
  border: 1px solid #318ff5;
  border-radius: 6px;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.1s;
  cursor: pointer;
  display: block;
  max-width: 150px;
}
